* {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

#root{
  padding: 1em;
}

header {
  font-size: x-large;
  font-weight: 500;
}

footer {
  font-size: 0.95em;
  font-weight: 300;
}

body article {
  border-bottom: solid;
}

body :last-child {
  border-bottom: none;
}

section {
  margin: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 2px 2px 1px rgba(33,33,33,0.5);
}

section section {
  margin: 0.5em;
}

.title {
  text-align: center;
  font-size: xx-large;
}

.subtitle {
  text-align: center;
}

menu > li {
  list-style: none;
}

menu > li > button {
  background-color: transparent;
  outline: none;
  border: none;
}

menu > li > button :active {
  color: turquoise;
  background-color: rebeccapurple;
}

#resume {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "subtitle subtitle subtitle subtitle"
    "group-a group-a group-b group-b"
    "group-c group-c group-c group-d";
  text-shadow: 1px 1px rgba(33,33,33,0.25);
}

#personal-info {
  grid-area: header;
}

#bio {
  grid-area: subtitle;
}

#skills {
  grid-area: group-a;
}

#skills ul {
  columns: 2;
  font-size: 1.03em;
}

#education {
  grid-area: group-b;
}

#experience {
  grid-area: group-c;
}

#references {
  grid-area: group-d;
}
